<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's build something <i>special</i>.</h2>
                <hr class="light">
                <p>We are a small group of Boston-based freelance web designers and creatives who exclusively work one-on-one with select clients.</p>
                <p>Simply put, we strive for excellence and take personal pride in the quality of our work.</p>
                <!--<a href="#" class="btn btn-default btn-xl">Get Started!</a>-->
            </div>
        </div>
    </div>
</section>
