<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-user wow bounceIn text-primary"></i>
                    <h3>Professional Web Design</h3>
                    <p class="text-muted">Want to start a blog? Selling a product or service? Looking to simply spice things up on an existing website? We offer low cost web solutions to all your needs.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-wordpress wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Organize Your Digital Content</h3>
                    <p class="text-muted">No matter your content management system (CMS) of choice, we have you covered. Let us help you get started with Wordpress, Wix, Shopify, Squarespace, and more.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-bar-chart wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Take on Your Competitors</h3>
                    <p class="text-muted">Let's make sure people can find you! Through careful Search Engine Optimization (SEO), keyword analysis, and advertising strategies, your website will rank high on Google.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-instagram wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Social Media and Branding</h3>
                    <p class="text-muted">We will manage your online presence with our experienced social media gurus. Whether it's Instagram, TikTok, Twitter, or Facebook, let us take your brand to the next level.</p>
                </div>
            </div>
        </div>
    </div>
</section>
